p{
    font-family: Helvetica;
    line-height: 2.00 em;
    font-family: 20px;
    color: orange;
}
h2{
    font-family: sans-serif;
    color: rgb(10, 8, 8);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     column-gap: 50px;
    row-gap: 50px;
}

.box{
    border: 2px solid black;
    min-height: 100px;
    width: 100%;
    font-size: 50px;
}